<!DOCTYPE html>
<html>
<head>
<title>Innova SCM</title>
<meta name="charset" content="UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div class="row">
<div class="col-lg-5">
<img class="logo" src="img/SCM.png" alt="SCM" />
<form method="post" action="register">

    <div class="form-group">
      <label for="exampleInputEmail1">Name </label>
      <input name="name" required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1"> Company Name </label>
      <input name="cname" required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Company name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mobile Number</label>
      <input name="mobile" required type="mobile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Mobile Number ">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password"  required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
    <button type="submit" class="form-control btn btn-primary">Submit</button>
</div>
</form>
  </div>
</div>
  <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="js/bootsrrap.min.js"></script>
</body>
</html>
